{% extends 'base.html' %}

{% block title %}Удаление рекламной кампании{% endblock %}

{% block content %}
    <h1>Удаление рекламной кампании</h1>
    <p>Вы уверены, что хотите удалить "{{ object.name }}"?</p>

    <form method="post">
        {% csrf_token %}
        <div class="actions">
            <button type="submit" class="btn btn-danger">Подтвердить удаление</button>
            <a href="{% url 'campaign_detail' object.pk %}" class="btn">Отмена</a>
        </div>
    </form>
{% endblock %}